/* sun properties */
.sun-container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    background: linear-gradient(
        to bottom,
        rgb(20, 39, 79),
        rgb(242, 21, 119),
        rgb(20, 39, 79)
    );
}

.sun {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    
    background: linear-gradient(
        to bottom,
        rgb(255, 208, 0) 30px,
        rgb(255, 72, 0)
    );
}

/* floor properties */
.net-container {}

.net {}
